h1 {
  font-size: 60px;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

input {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #754ef9;
  padding: 0 40px;
  font-size: 15px;
  line-height: 48px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  cursor: auto;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.55);
  -moz-box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.55);
  box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.55);
  background-color: #ffffff;
  text-transform: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #8a8fa3;
  padding: 150px;
}
.container {
  padding: 100px;
  align-items: center;
  justify-content: center;
}
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #754ef9;
  padding: 0 40px;
  font-size: 15px;
  line-height: 48px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
  -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
  box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
  background-color: #754ef9;
  text-transform: uppercase;
}
.main-btn:hover {
  background-color: #fff;
  color: #754ef9;
  border-color: #754ef9;
}
