<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/positive_style.css">
    <title>Recommendations</title>
</head>

<body>
    <center>
        <div class="container">
            <table>
                <center>
                    <h1>Recommendations for Movie</h1>
                    <h2>{{search_name}}</h2>
                </center>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{movie_names[0]}}</td>
                        <td>{{ratings[0]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[1]}}</td>
                        <td>{{ratings[1]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[2]}}</td>
                        <td>{{ratings[2]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[3]}}</td>
                        <td>{{ratings[3]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[4]}}</td>
                        <td>{{ratings[4]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[5]}}</td>
                        <td>{{ratings[5]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[6]}}</td>
                        <td>{{ratings[6]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[7]}}</td>
                        <td>{{ratings[7]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[8]}}</td>
                        <td>{{ratings[8]}}</td>
                    </tr>
                    <tr>
                        <td>{{movie_names[9]}}</td>
                        <td>{{ratings[9]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
</body>

</html>