<!DOCTYPE html>
<html>

<head>
  <title>RESUME- Chandan Kumar</title>
</head>

<body>
  <h1 align="center"><u>Resume</u></h1>
  <p>
    <b>Name: </b>Chandan Kumar <br />
    <b>Address:</b>
    B-237 PHASE-2 <br />
    COMPLEX VIJAIPUR,GUNA <br />(Madhya Pradesh) 473112 <br />
    <b>Mobile: </b>+91 7089280230 <br />
    <b>Email: </b>kumarchandankumar31345@gmail.com <br />
  </p>

  <hr />
  <h3>Educational Qualifications:</h3>
  <table>
    <tr>
      <th>Qualifications</th>
      <th>Institue</th>
      <th>University/Board</th>
      <th>Marks</th>
      <th>Year of Passing</th>
    </tr>
    <tr>
      <td align="center">X</td>
      <td align="center">SRI SATHYA SAI VIDYA VIHAR GAIL, VIJAIPUR GUNA</td>
      <td align="center">CBSE</td>
      <td align="center">9 (CGPA)</td>
      <td align="center">2016</td>
    </tr>
    <tr>
      <td align="center">XII</td>
      <td align="center">SRI SATHYA SAI VIDYA VIHAR GAIL, VIJAIPUR GUNA</td>
      <td align="center">CBSE</td>
      <td align="center">87%</td>
      <td align="center">2018</td>
    </tr>
    <tr>
      <td align="center">B-Tech</td>
      <td align="center">JUET, GUNA MADHYA PRADESH</td>
      <td align="center">JAYPEE UNIVERSITY</td>
      <td align="center">9.3 (CGPA)</td>
      <td align="center">2022</td>
    </tr>
  </table>
  <br />
  <hr />

  <h2>Skill Set</h2>
  <p>
    <b>Programming: </b>C, C++, Python, Java (Basics) <br />
    <b>System:</b> Windows, Linux (Basics) <br />
    <b>Inter-personal: </b> Punctual, Organized, Logical reasoning, Attention
    to Details, Problem solving, Time management, Team player <br />
    <b>Web Development:</b> Adobe Illustrator (Medium), HTML(Basics) <br />
    <b>Other:</b> SQL, Machine Learning (Basics) <br />
  </p>
</body>

</html>